* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.Container {
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Logo Container */
#imageContainer {
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

/* Logo Image */
#imageContainer img {
    width: 50%;
    height: auto;
    object-fit: contain;
    opacity: 0;
    transform: scale(0.5) translateY(50px);
    opacity: 0;
    animation: popIn 4s forwards ease-out;
}

@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(50px);
    }

    60% {
        opacity: 1;
        transform: scale(1.3) translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
     
    }
}



/* Matchfit Button */
#matchOutfitsBtn {
    padding: 10px 30px;
    background-color: #ff4da6;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 4px 10px rgba(255, 0, 100, 0.2);
}

/* Hover Effect */
#matchOutfitsBtn:hover {
    background-color: #ff1e8c;
    transform: scale(1.05);
}

/* Mobile View */
@media screen and (max-width: 480px) {
    #imageContainer {
        width: 90%;
        max-width: 300px;
        margin-bottom: 10px;
    }

    #matchOutfitsBtn {
        width: 85%;
        font-size: 16px;
        padding: 12px;
    }
}